<div class ="container">
 <div class="jumbotron text-center" class="row">
    <div class="col-sm-12">
  <h1>Eat-the-Burger</h1>
  </div>
</div>

    <div class="row">
        <div class="col-sm-8">
        {{#each burgers}} {{#unless this.devoured}}
        <ul>
            <li>
                <p>
                    {{this.id}}. {{this.burger_name}}
                    <button class="change-devoured" data-id="{{this.id}}">Devour</button>
                </p>
            </li>
        </ul>
        {{/unless}} {{/each}} 
    </div>

           <div class="col-sm-4">
        {{#each burgers}} {{#if this.devoured}}
        <ul>
            <li>
                <p>
                    {{this.id}}. {{this.burger_name}}
                </p>
            </li>
        </ul>
        {{/if}} {{/each}}
    </div>
    </div>    
 
    
    <div class="row" class="border border-primary">
        <div class="col-sm-12">  
            <form class="create-form">     
            <div class="form-group">
                <label for="burger">Burger Name:</label>
                <input type="text" id="burger" name= "name" placeholder= "Enter your favourite Burger">
            </div>
            <button type="submit" class="btn btn-primary">Add Burger</button>
        </form> 
        </div>
        </div>
        </div>
    